<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        
        .nav {
            margin: 0;
            display: flex;
            position: sticky;
            z-index: 1;
            top: 0;
            width: 100%;
            height: 50px;
            /* background-image: linear-gradient(to right, #56ab2f,  #a8e063);
            background-image: linear-gradient(to right, #000428,  #004e92); */
            /* background-image: linear-gradient(to right, #43cea2, #185a9d); */
            background-image: linear-gradient(to right, #000428, #004e92);


        }

        #navright {
            width: 30%;



        }

        #navleft {
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            


        }



        li a {
            display: block;
            /* border-right: 1px solid white; */
            /* border-radius: 20px; */
            color: white;
            text-align: center;
            padding: 16px 25px;
            text-decoration: none;
        }

        li a:hover {
            background-color: black;
        }

        li a:active {
            /* background-color:green; */
        }

        @media screen and (max-width: 600px) {
            ul li:nth-last-child(-n+2) {
                display: none;
            }


        }
        .parent{
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 92vh;
            background-color: white;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            /* justify-content: center;
            align-items: center; */
        }
        #left{
            width: 20%;
            
            display: flex;
            background-image: linear-gradient(to right, #FBB040, #F9ED32);
            align-items: center;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            
        }

        #right {
            width: 80%;
            display: flex;
            flex-direction: column;
            background-color: white;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        
        }
        #wordcontainer{
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: column;
            /* border: blue solid 5px; */
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            padding:20px ;
            text-align: justify;
        }

    </style>
</head>
<body>
    <div class="nav">
        <ul id="navleft">
            <li><a href="/">Home</a></li>
            <li><a href="/wordoftheday">Words</a></li>
            <li><a href="/quoteoftheday">Quotes</a></li>
            <li><a href="/urduoftheday">Urdu</a></li>
            <li><a href="/profile">Account</a></li>
            <!-- <li ><a  href="/logorreg">Account</a></li> -->
        </ul>

    </div>
    <div class="parent">
        <div id="left">
            <img id="leftimg" src="/static/read (3).png" alt="Lexion">
            <h2 style=" font-family: 'Lucida Handwriting', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: white;
            margin-top: 20px;
            padding: 0;">Lexicon</h2>
        </div>
        <div id="right">
            <div id="wordcontainer">
                <div><img src="/static/verified-account.png" alt=""></div>
                <p id="name" style="font-weight: bold;">{{username}}</p>
                <p id="email" style="margin-top: 1px;">{{emailuser}}</p>
                <p id="status" style="color: red;">Not Logged In</p>
                <p ><a id="link" href="">Saved Words</a></p>
                <p ><a onclick="out(event)" id="logout" href="">Log out</a></p>
                <p style="color: red;">Note: To modify your password, visit register section on homepage.</p>
                
               
            </div>
        </div>
    </div>
    

    {% if username!="" and emailuser!="" %}
    <script>
        document.getElementById("status").innerHTML="Logged In";
        document.getElementById("status").style.color="green";
        document.getElementById("link").href="/wordoftheday";
        document.getElementById("logout").href="/logout";

        window.onload=function(){
            document.getElementById("status").innerHTML="Logged In";
            document.getElementById("status").style.color="green";
            document.getElementById("link").href="/savedwords";
            document.getElementById("logout").href="/logout";
        }
    </script>
    {% endif %}

    <script>
        function out(e)){
            if(e.target.href!=""){
                window.location.href="'{{ url_for('logout')}}'";

            }



        }
    </script>
    


</body>

</html>