<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Words</title>

    <style>

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .parent{
            width: 100%;
           
           
            display: flex;
            /* background-image: linear-gradient(to right, #FBB040, #F9ED32); */
            /* background-color:burlywood; */
            align-items: center;
            justify-content: center;
            margin:0px;
        }
        
        .lr{
            width: 50%;
            margin:0px;
            display: flex;
            /* background-image: linear-gradient(to right, #FBB040, #F9ED32); */
            /* background-color:burlywood; */
            
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 0px;
        }

        .container{
            width: 80%;
            height: 200px;
            margin-left: 100px;
            margin-right: 100px;
           
            display: flex;
            /* background-image: linear-gradient(to right, #FBB040, #F9ED32); */
            /* background-color:burlywood; */
            border:darkblue solid 5px;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 50px;
        }
        
        .childcon {
            width: 80%;
            height:50%;
            /* padding: 50px; */
            display: flex;
            /* background-image: linear-gradient(to right, #FBB040, #F9ED32); */
            /* background-color:burlywood;  */
            /* border:darkblue solid 5px; */
            align-items: center;
            text-align: justify;
            flex-direction: column;
            justify-content: center;
            /* margin-bottom: 50px; */
            margin: 0px;
            padding: 20px;
        }
        

        .nav {
            margin: 0;
            display: flex;
            position: sticky;
            z-index: 1;
            top: 0;
            width: 100%;
            height: 50px;
            /* background-image: linear-gradient(to right, #56ab2f,  #a8e063);
            background-image: linear-gradient(to right, #000428,  #004e92); */
            /* background-image: linear-gradient(to right, #43cea2, #185a9d); */
            background-image: linear-gradient(to right, #000428, #004e92);


        }

        #navright {
            width: 30%;



        }

        #navleft {
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            


        }



        li a {
            display: block;
            /* border-right: 1px solid white; */
            /* border-radius: 20px; */
            color: white;
            text-align: center;
            padding: 16px 25px;
            text-decoration: none;
        }

        li a:hover {
            background-color: black;
        }

        li a:active {
            /* background-color:green; */
        }

        @media screen and (max-width: 600px) {
            ul li:nth-last-child(-n+2) {
                display: none;
            }


        }

        @media screen and (max-width: 1000px) {
            .lr{
                width: 100%;
            }
            .container{
                width: 100%;
            }
            #rightpc{
                display: none;
            }


        }

    </style>
</head>
<body>
    
    
    <div class="nav">
        <ul id="navleft">
            <li><a href="/">Home</a></li>
            <li><a href="/wordoftheday">Words</a></li>
            <li><a href="/quoteoftheday">Quotes</a></li>
            <li><a href="/urduoftheday">Urdu</a></li>
            <li><a href="/profile">Account</a></li>
            <!-- <li ><a  href="/logorreg">Account</a></li> -->
        </ul>

    </div>
    <!-- <div style=" width: 60%; margin-left: 100px; margin-right: 100px;margin-bottom: 50px;  height: 150px; display: flex; align-items: center; justify-content: center;">
        <h2 style="color: darkblue; font-size: 40px;">Quotes of Days</h2>
    </div> -->
    <script>
        var l={{length}};
        var lw={{lws | safe}};
        var lm={{lqs | safe}};
        var ld={{luws | safe}};
        
        var parent=document.createElement("div");
        var left=document.createElement("div");
        left.setAttribute("style","width:70%;");
        var right=document.createElement("div");
        parent.setAttribute("class","parent");
        left.setAttribute("class","lr");
        right.setAttribute("class","rightcon");
        right.setAttribute("id","rightpc");
        right.setAttribute("style","height:2000px;position:relative;top:-700px; ");
        right.innerHTML="<div style='height:300px;width:300px;background-color:black'></div>"+
            "<div style='height:300px;width:300px;background-color:black;margin-top:100px'></div>"; 

        var toph=document.createElement("div");
        toph.setAttribute("class","container");
        toph.setAttribute("style","border:none;margin-bottom:10px;");
        toph.innerHTML="<h2 style='color: darkblue; font-size: 40px;'>Favourites</h2>";
        left.appendChild(toph);
        parent.appendChild(left);
        parent.appendChild(right);
        document.body.appendChild(parent); 

        for(var i=l-1; i>=0; i--) {
            var ele=document.createElement("div");
            var child1=document.createElement("div");
            var child1b=document.createElement("div");
            var child2=document.createElement("div");
            ele.setAttribute("class","container");
            ele.setAttribute("id","c"+i);
            child1.setAttribute("class","childcon");
            child1.setAttribute("style","height:40%;");
            child1b.setAttribute("class","childcon");
            child1b.setAttribute("style","height:40%;");
            child2.setAttribute("style","height:10%;");
            child2.setAttribute("class","childcon");
            child1.setAttribute("id","c"+i+"child1");
            child1b.setAttribute("id","c"+i+"child1b");
            child2.setAttribute("id","c"+i+"child2");
            child2.setAttribute("style","align-items:flex-end;")
            ele.appendChild(child1);
            ele.appendChild(child1b);
            ele.appendChild(child2); 
            left.appendChild(ele); 
           
        }
        
        for(var i=l-1; i>=0;i--){
            var ele=document.getElementById("c"+i);
            var child1=document.getElementById("c"+i+"child1");
            var child2=document.getElementById("c"+i+"child2");
            var child1b=document.getElementById("c"+i+"child1b");
            child1.innerHTML="<p><b>"+lw[i]+"</b></p>";
            child1b.innerHTML=lm[i];
            child2.innerHTML=ld[i];
            
        } 
    </script>
    



    
</body>
</html>